/* mozna woisac content-box */
*{
    box-sizing: border-box;
    
}


body{
    front-size: 0px;
}

.box{
    front-size: 16px;
    height: 300px;
    width: 50%;
    float: left;
    background-color: plum;
    border: 10px solid fuchsia;
    padding: 40px;
}
