

body{
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #777;
    font-size: 10px;
}

header.main {
    height: 65vh;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

 p {
    font-size: 1.4em;
    line-height: 1.8em;
 }
.title {
    font-size: 4.6em;
    color: #007bff;
    margin: 0px;
    text-align: center;
}

header div {
    padding-top: 100px;
   
}


hr {
    background-color: #007bff;
    border: 0px;
    height: 1px;
    width: 7em;
}

.btn {
    text-decoration: none;
    border: 1px solid #007bff;
    display: inline-block;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    padding: 15px 20px;
    transition: all 1s;
    font-size: 1.5em;
}

.btn, h1, h2, a {

    text-transform: uppercase;
}


.btn:hover {
    background-color: #007bff;
    color: #fff;
}

section {
    text-align: center;
    padding: 12px 0;
}




main p span {
    color: #007bff;
 }


nav > ul {
    background-color: #007bff;
    height: 50px;
    padding: 2px 0px;
    margin: 0px auto;
    text-align: center;
    
    
}

nav ul li {
    display: inline-block;
    margin: 15px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0.1em 0.6em;

    
}
.about img {
    max-width: 40em;
    max-height: 40em;
    border-radius: 50%;
}


/* portfolio */

.container {
    max-width: 1100px;
    margin: auto;

}

.portfolio .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio .wrapper .wrapper-item {
    flex-basis: 25%;
    margin: 0;
    height: 230px;
    overflow: hidden;
}

.portfolio .wrapper .wrapper-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/* footer */
footer{
    background-color: #f2f1ed;
    color: #333;
    padding: 1em o;
}





/* kontakt */

.kontakt form{
    max-width: 70em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em auto 3em auto;
}

.kontakt form input:not([type="submit"]), .kontakt form textarea{
    padding: 1em;
    margin-bottom: 5em;
}

.kontakt form input:not([type="submit"]) {
    flex-basis: 48%;
}

.kontakt form textarea {
    flex-basis: 100%;
}

.kontakt .social-media a:hover{
    color: #777;
}

.kontakt .social-media i {
    display: inline-block;
    margin: 0 1em;
}

