.title{
    color: red;
    
}

.tlo{
    background-color: rgb(221, 208, 184);
    height: 700px;
    width: 700px;
    margin: 0px;
    padding: 5px;
}

.one{
    color: rgb(104, 5, 5);
}
.two{
    color: blue;
}

