
#kwadrat1{
    position: relative;
    background-color: red;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    
}
#kolo1{
    position: relative;
    background-color: pink;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}

#kwadrat2{
    position: relative;
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    
}
#kolo2{
    position: relative;
    background-color: green;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}  

#kwadrat3{
    position: relative;
    background-color: purple;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    
}
#kolo3{
    position: relative;
    background-color: orange;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}

#kwadrat4{
    position: static;
    background-color: blue;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    margin-left: 210px;
    margin-top: -630px;
    
}
#kolo4{
    position: relative;
    background-color: grey;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}


#kwadrat5{
    position: relative;
    background-color: black;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    margin-left: 210px;
    
    
}
#kolo5{
    position: relative;
    background-color: red;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}

#kwadrat6{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    margin-left: -5px;
    margin-top: 100px;
    
    
}
#kolo6{
    position: relative;
    background-color: yellow;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}

#kwadrat7{
    position: relative;
    background-color: green;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    margin-left: 205px;
    margin-top: -528px;
}
#kolo7{
    position: relative;
    background-color: purple;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}

#kwadrat8{
    position: relative;
    background-color: orange;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    margin-left: 205px;
    
}
#kolo8{
    position: relative;
    background-color: blue;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}

#kwadrat9{
    position: relative;
    background-color: pink;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    margin-left: -5px;
    margin-top: 100px;
    
}
#kolo9{
    position: relative;
    background-color: black;
    height:100px;
    width:100px;
    border-radius: 50px;
    top: 50px;
    left: 50px;
    border: 2px solid black;
}

