@import'zmienne';



ul {
    background-color: $base-color;
}


.zmienne {
    font-family: $base-font-family;
    padding: $base-font-size;
    border: $base-font-size solid blue;
    ul{
        background-color: yellow;
        li{
            font-weight: 800;
            a {
                background-color: yellowgreen;
                &:hover {
                    color: hotpink;
                }
            }
        }
    }
}

.jakasSeKcja {
    background-image: url(https://images.pexels.com/photos/2444429/pexels-photo-2444429.jpeg);
    height: 500px;
    @include background-image;
}